<div class="container">

  <div class="has-text-centered">
    <p>
      (Whether)Weather - Keeping You Updated <em>*In 9 Selected Cities*</em>
    </p>
    <img id="footer-image" class="image is-inline" src="/images/logo.png" alt="Logo"> 
 </div>
 
</div>