<!-- Navigation Partial -->

<nav class="navbar">

  <div class="navbar-brand">

    <a class="navbar-item" href="#">
      <img src="/images/logo.png" alt="Logo"/>
    </a>
    <span class="navbar-burger" data-target="navbarMenu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </span>
  </div>

  <div id="navbarMenu" class="navbar-menu">
      
    <div class="navbar-end">
      <a href="/pages/amsterdam?city={city.name}" class="navbar-item has-text-white">
        City Focus
      </a>
      <a href="/index" class="navbar-item has-text-white">
        Dashboard
      </a>
      <a href="/pages/settings" class="navbar-item has-text-white">
        Settings
      </a>
    </div>
  </div>

</nav>