<!DOCTYPE html>
<html lang="en">
<head>
  {% include "header.njk" %}
</head>

<body>

  {% include "nav.njk" %}

<main>

<div id="settings" class="has-text-centered is-size-2">
      User Settings
  </div>

<div class="box">

    <table id="cityTable" class="column table is-striped has-text-centered-centered">
                <tr class="has-text-centered">
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>

  </div>

  </main>

  <footer>
    {% include "footer.njk" %}
    </footer>
</body>
</html>
